core/src/main/resources/note-format.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="note" type="noteType"/>
  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element type="xs:string" name="from">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^\.]+\..+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="to">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[^@]+@[^\.]+\..+"/>
        </xs:restriction>
      </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="heading"/>
      <xs:element type="xs:string" name="body"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>